#############################################################################

mainmenu "SDK Configuration"

source "./Kconfig.sdk"

#############################################################################
